<a href="https://colab.research.google.com/github/BrayanTorres2/Programacion-Orientada-Por-Objetos/blob/main/Quiz08a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 8 - Análisis de datos en Pandas

Vamos a trabajar con un conjunto de datos que contiene registros del consumo mundial de alcohol en cada uno de los paises del globo. Este conjunto de datos consta de 5 columnas:

* La primera columna contiene el año en que se hizo el registro del dato.
* La segunda columna se refiere al lugar donde la bebida fue producida.
* La tercera columna se refiere al lugar donde fue consumido la bebida alcohólica.
* La cuarta columna se refiere al tipo de bebiba alcohólica cosumida
* Y la quinta columa se refiere al promedio anual de consumo de esa bebida.

In [ ]:
# Importar Paquetes necesarios para trabajar
import pandas as pd
import math

# Obtenemos los datos y los almacenamos en el dataframe wac
wac = pd.read_excel("https://github.com/BrayanTorres2/Programacion-Orientada-Por-Objetos/blob/main/World_alcohol_consumption.xlsx?raw=true")

### Ejercicio 01

Muestre las información del dataframe `wac`

In [ ]:
# Respuesta al Ejercicio 01

### Ejercicio 02

A partir de la respuesta anterior, responda las siguientes preguntas:

* ¿Cuántas y cuáles columnas son numéricas en el dataframe?
* ¿Cuántas filas tiene el dataframe?

> Escriba aquí la respuesta a las preguntas anteriores:

### Ejercicio 03

Escriba un programa en python con Pandas que muestre las 10 primeras filas del dataframe

In [ ]:
# Respuesta al ejercicio 03

### Ejercicio 04

Escriba el programa en python con Pandas que muestre los registros del dataframe del año 1984 cuya región sea Africa o Americas.

In [ ]:
# Respuesta al ejercicio 04

### Ejercicio 05

Escriba en python con Pandas un programa que encuentre y muestre cuantos países en Africa consumen cerveza (Type = Beer).

In [ ]:
# Respuestas al ejercicio 05

### Ejercicio 06

Escriba en Pandas la expresión para saber los tipos de bebida que se consumieron en Colombia entre los años 1984 a 1986.

In [ ]:
# Respuesta al ejercicio 06

### Ejercicio 07

Escriba en Pandas la expresión para conocer la suma del promedio anual de consumo (**Average**) de los países de Europa (**Region** == `'Europe'`) del año 1985

In [ ]:
# Respuesta al ejercicio 07

### Ejercicio 08

Escriba en Pandas la expresión para conocer los nombres de los países de Europa donde el consumo promedio de cerveza es superior o igual a 4.0 (Tenga el cuenta el Type, la Region y el Average)

In [ ]:
# Respuesta al ejercicio 08

### Ejercicio 09

Escriba en pandas la expresión para agrupar por región y dar la suma de los promedios de consumo

In [ ]:
# Respuesta al ejercicio 09

### Ejercicio 10

Escriba en Pandas una expresión donde agrupemos por año y por tipo y que cuente el número de países en cada grupo

In [ ]:
# Respuesta al ejercicio 10